/*ICONS*/
.fa-moon { 
    font-weight: 900;
}

.fa-moon:before {
  display: block;
  margin: 10px;
  transform: rotateZ(-40deg);
}

/*HELPERS*/
.rounded {
  border-radius: 0.3em;
}

.shadow-overlay {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: overlay;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  padding: 1em 0;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex: 1;
}

.col {
  display: flex;
  width: 25%;
  padding: 1rem;
}

.btn {
  padding: 0.5em 1.5em;

  &-icon {
    font-weight: 400;
  }
}