@import "variables";


/*GLOBAL*/
html, body {
  box-sizing: border-box;
  padding:0;
  margin: 0;
  overflow-x: hidden;
  font-family: Nunito Sans, sans-serif;
  font-size: 16px;
}

*,*::before, *::after {
  box-sizing: border-box;  
}

button, input, select {
  border: none;
  font-family: inherit;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

select,
button
{
  cursor: pointer;
}


/*MIXINS*/
@mixin elementColors($background, $color) {
  .navbar-main,
  .searchbar-input,
  .searchbar-btn i,
  input::placeholder,
  select,
  .btn,
  .table-main .card, .card .tags-btn, a{
    background: $background;
    color: $color;
  }

  body {
    background: $background;
  }
}

/*THEMES*/
.app-main[data-theme="dark"] {
  background: $dark-mode-blue;
  color: $white;

  @include elementColors($dark-blue, $white);
}

.app-main[data-theme="light"] {
  background-color: $light-gray;
  color: $very-dark-blue;

  .fa-moon { 
    font-weight: 400;
  };

  @include elementColors($light-gray, $very-dark-blue );
}

/*ICONS*/
.fa-moon { 
    font-weight: 900;
};

.fa-moon:before {
  display: block;
  margin: 10px;
  transform: rotateZ(-40deg);
}

/*HELPERS*/
.rounded {
  border-radius: 0.3em;
}

.shadow-overlay {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: overlay;
}

.space-evenly {
  justify-content: space-between;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  padding: 1em 0;
  align-items: center;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.col {
  display: flex;
  margin-bottom: 4em;
}

/*MODULES*/
.app-main {
  height: 100%;
  transition: 400ms;
}

.btn {
  padding: 0.5em 2em;

  &-icon {
    font-weight: 400;
  }
}

.table-main {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  margin-top: 2em;
  justify-content: space-between;
}

.dropdown-select {
  display: flex;
  padding: 1em;
  border-radius: 5px;
}

.searchbar {
  &-input {
    padding-left: 3em;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
  }

  &-btn {
    border: none;
    background: none;
    padding: 1em 1.5em;
    text-align: right;
    position: absolute;
    padding: 1em;
  }
}

.tags {
  display: flex;
  flex-flow: wrap;
  padding: 1em 0;
  align-items: center;

  &-title {
    margin-right: 10px;
  }

  &-btn {
    margin-right: 5px;
    padding: 0.3em;
  }
}

.card {
    display: flex;
    overflow: hidden;
    flex-flow: wrap;
    width: 100%;

    &-title {
      font-weight: 800;
      margin: 0;
      margin-bottom: 1em;
    }

    &-image {

      img {
        object-fit: cover;
        height: 150px;
      }

    }

    &-content {
      padding: 2em;
    }

    &-body {
      display: flex;
      flex-direction: column;
      padding: 1.5em;
    }

    &-horizontal {

      .card-body {
        padding: 0;
      }
      flex-direction: row;
      align-items: center;
    }
}

@media screen and (min-width: 1025px) {
  .col {
    width: 20%;    
  }
}

@media screen and (max-width : 1024px) {
  .col {
    width: 28%;
  }
}

@media screen and (max-width : 767px) {
  .col {
    width: 43%
  }
}

@media screen and (max-width : 485px) {
  .col {
    width: 100%;
  }
}

@media screen and (min-width : 600px) {
  .col {
    margin-right: 1em;
  }
  .card {
    &-lg {
      width: 100%;
    
      .card-image {
        img {
          object-fit: cover;
          height: auto;
          max-width: 500px;
        }
      }
    }
  }
}